@model List<ControlExamples.Models.EmployeeModel>
@{
    ViewBag.Title = "ViewAllEmployees";
}

<div style="margin-top:15px;">
    <span style="width:150px; font-size:22px;">Employees List</span>

    @Html.ActionLink("Add New Employee", "AddEmployee", new { }, new { style = "float:right; margin-right:5px; margin-top:5px;" })
</div>

<hr />

<table class="table table-bordered">
    <thead>
        <tr>
            <td>
                Emp. ID
            </td>
            <td>
                Name
            </td>
            <td>
                Department
            </td>
            <td>
                Designation
            </td>
            <td>
                Gender
            </td>
            <td>
                Hobbies
            </td>
            <td>
                Photo
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
               <a href="AddEmployee/@item.Id" >@item.Id</a>
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.DepName
            </td>
            <td>
                @item.Designation
            </td>
            <td>
                @item.Gender
            </td>
            <td>
                @item.Hobbies
            </td>
            <td>
                <img src="@item.Ephoto" alt="Alternate Text" width="50" height="50"/>
            </td>
        </tr>
            
        }
    </tbody>
</table>



